html {
	font-size: 200%;
}
p, li {
	font-size: 75%;
}
nav {
    background-color: #0064B1;
    display: flex;
    justify-content: space-between;

}
nav img {
    width: 5%;/*THIS IS A PLACEHOLDER VALUE FOR WHEN WE REPLACE IT WITH THE UPDATED LOGO. I just wanted the nav to not be huge*/
    margin: 0.5rem;
}
nav ul {
    display: flex;
    margin: 1rem;
}
nav ul li {
    padding: 0.5rem;
    list-style: none;
}
nav ul li a {
    text-decoration: none;
    color: white;
    padding: 0.4rem;
}
nav ul li #CTA {
    background-color: #F58025;
    border-radius: 0.3rem;
}
main {
    width: 90%;
    margin: auto;
}
.speakers {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 5rem;
}
.speakers h2 {
    width: 100%;
    margin: auto;
    text-align: center;
}
.speakerCards {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
}
.speakerCard {
    background-color: #0064B1;
    width: 30%;
    margin: 1rem;
    padding: 1rem;
    color: white;
    border-radius: 0.5rem;
}
.speakerCards img {
    width: 100%;
    margin: auto;
}
.speakers h3{
    text-align: center;
    text-transform: uppercase;
}
.speakers h4{
    text-align: center;
    font-weight: lighter;
    font-size: 20px;
}
.speakers a {
    background-color: #F58025;
    padding:0.5rem 1rem;
    border-radius: 0.5rem;
    margin: 1rem;
    text-decoration: none;
    color: white;
}
.sponsors {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
}
.sponsorCards {
    display: flex;
}
.sponsorCards img {
    width: 15rem;
    margin: 1rem;
}
.sponsors a {
    background-color: #F58025;
    padding:0.5rem 1rem;
    border-radius: 0.5rem;
    margin: 1rem;
    text-decoration: none;
    color: white;
}
.sponsors .slider {
    width: 100%;
    overflow: hidden;
    position: relative;
}
.sponsorCards {
  display: flex;
}
.sponsorCards img {
  width: 20vw;
  min-width: 200px;
  height: auto;
}
footer {
    background-color: #0064B1;
    margin: 5rem 0rem 0rem 0rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 2fr;
    grid-template-rows: 1fr;
    padding: 0rem 2rem;
}
footer #footerImg {
    grid-column: 1/2;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer #footerImg img {
    width: 100%;
}
footer #footerNav {
    grid-column: 2/3;
    display: flex;
}
footer #footerNav ul li{
    list-style-type: none;
    margin: 1rem;
}
footer #footerNav ul li a{
    text-decoration: none;
    color: white;
}
footer #contacts{
    grid-column: 3/4;
    color: white;
}
footer #contacts a {
    text-decoration: none;
    color: white;
}
.footerSocials img {
    margin-right: 1rem ;
}
/*TABLET DISPLAY*/
		@media (min-width: 768px) and (max-width: 1024px) {
			/*adjust footer and nav*/
            nav img {
                width: 50%;
            }
            footer {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                grid-template-rows: 1fr;
                padding: 0rem 2rem;
            }
        }
/*PHONE DISPLAY*/
		@media (max-width: 767px) {
            /*adjust footer and nav*/
            .speakerCards {
                display: block;
            }
            .speakerCard {
                width: 100%;
            }
            .sponsorCards {
                display: flex;
                animation: scroll 2s linear infinite;
            }
            footer {
                display: block;
                padding: 1rem;
            }
            footer #footerNav ul li a{

            }
		}